<html>
    <head>
        <title>Welcome!</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="row">
                    <div class="title-bar">
                            <h1 align="center">Current Location</h1>
                            <h2 align="center">Berkeley, Ca</h2>
                            <br>
                            <br>
                            <br>
                            <h3 align="center">Goodmorning!</h3>
                            <br>
                            <br>
                            <br>
                            <ul class=daily>
                                <li><a href=""> Current Temperature: 64<span>&#176;</span> </a></li>
                                <li><a href=""> Humidity: 82%</a></li>
                                <li><a href=""> Air Quality: Moderate</a></li>
                                <li><a href=""> Chance of Rain: 85%</a></li>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <li><a href=https://weather.com/weather/today/l/37.87,-122.27>More Info<span>&#176;</span>
                                    <img src="sunnyIcon.png" width="30" height="30" title="Sunny" alt="Sunny"></a></li>
                                <br>
                                <br>
                                <br>
                                <br>
                                <li>Alert! We're predicting rainstorms later today, don't forget to pack an umbrella!</li>
                            </ul>
                        </div>
                    <div>
                        <br>
                        <br>
                        <br>
                <div class="navRow">

                    <ul class="main-nav">
                        
                            <div class="dropdown">
                                    <button class="dropbtn">Compare Saved Locations</button>
                                    <div class="dropdown-content">
                                        
                                    <a href="https://weather.com/weather/today/l/33.83,-116.55">Palm Springs, California 78<span>&#176;</span>
                                        <img src="sunnyIcon.png" width="30" height="30" title="Sunny" alt="Sunny"></a>

                                    <a href="https://weather.com/weather/today/l/36.55,-121.92">Carmel, California 55<span>&#176;</span>
                                        <img src="sunnyIcon.png" width="30" height="30" title="Sunny" alt="Sunny"></a>

                                    <a href="https://weather.com/weather/today/l/33.54,-117.78">Laguna Beach, California 65<span>&#176;</span>
                                        <img src="sunnyIcon.png" width="30" height="30" title="Sunny" alt="Sunny"></a>
                                    </div>
                                    </div>
                            <li>Seach Locations</li>
                </ul>
                <div class="hourly-details">
                        <table id="t01">
                                <tr>
                                  <th>Time</th>
                                  <th>Temperature</th> 
                                  <th>Alerts</th>
                                </tr>
                                <tr>
                                  <td>12:00 AM</td>
                                  <td>40<span>&#176;</span></td>
                                  <td>It's cold and windy outside, don't forget your jacket!</td>
                                </tr>
                                <tr>
                                <td>1:00 AM</td>
                                  <td>45<span>&#176;</span></td>
                                  <td>Possibility of rain, consider bringing an umbrella on your way to your next destination.</td>
                                </tr>
                                <tr>
                                <td>2:00 AM</td>
                                  <td>51<span>&#176;</span></td>
                                  <td>Forecasts predict a sunny warm day, don't miss the outdoors today</td>
                                </tr>
                                <tr>
                                <td>3:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>4:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>5:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>6:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>7:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>8:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>9:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>10:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>11:00 AM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>12:00 PM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>1:00 PM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                                <tr>
                                <td>2:00 PM</td>
                                    <td>55<span>&#176;</span></td>
                                    <td>Temperatures might rise to the high 90's today, don't forget to stay hydrated!</td>
                                </tr>
                              </table>
                </div>
            </div>
        </header>

    </body>
</html>