*
{
    margin: 0;
    padding: 0;
}

header 
{
     background-image: url(background.png);

     height: 175vh;
     background-size: cover;
     background-position: center;
}

.title-bar {
    color: white; 
    text-decoration: none;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
}

.daily{
    list-style: none;
    background-color: none;
    text-align: center;

}

 
.daily li{
    display: inline-block;
}

.daily li a{
    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;

} 



.main-nav {
    list-style: none;
    margin-top: 30px;
}

.row{
    background-color: rgba(0,0,0,0.5);
}

.navRow{
    background-color: rgba(0,0,0,0.2);
}

.main-nav li {
    display: inline-block;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;

}

.main-nav li a {
    color: white; 
}


.dropbtn {
    /* background-color: rgba(0,0,0,0.1); */
    background-color: rgba(0,0,0,0.1);

    /* background-image: url(menu-icon.png); */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(0,0,0,075);
    width:fill-content;
    z-index: 1;
}
 
.dropdown-content a {
    color: white;
    padding: 40px 100px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {background-color:  rgba(1, 1, 1, 0.112) ;}
.dropdown:hover .dropdown-content {display: block;}

.hourly-details{
    color: white;
}


table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color:none;
  }
  table#t01 tr:nth-child(odd) {
   background-color: none;
  }
  table#t01 th {
    background-color: black;
    
  }


